body {
    background-color: #6f57a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.container h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.app img {
    width: 50px;
    height: 50px;
}

.more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.more button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    display: flex;
    justify-content: flex-start;
}